    <!-- Menú de Configuraciones cargado a la izquierda -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="configDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Restaurante
        </a>
        <div class="dropdown-menu" aria-labelledby="configDropdown">
            <a class="dropdown-item" href="/restaurante/empleados/list">Empleados</a>
            <a class="dropdown-item" href="/restaurante/jefes/list">Jefes</a>
            <a class="dropdown-item" href="/restaurante/menu/list">Menu</a>
        </div>
    </li>